html, body {margin:0; padding:0; background-image:url(images/w_71.jpg); background-color: #959595; width: 100%; background-attachment: fixed;}

.container {float: left; margin: 0px 0px 0px 250px; width: 900px;}
.header {float: left; width: 100%;}
.logo {float: left; margin-top: 100px;}
.logo img{border:0px;}
.quote {float: right; margin:30px 0px 0px 0px; font-family:arial; font-size: 14px; color: #fff; width: 300px; text-align:justify;}
.quote .last {text-align: right;}

.menu {float:left; width: 100%; padding: 10px 0px 25px 10px; background-color: rgba(149, 149, 149, 0.6);}
.menu a:link {color:#ccc; font-size: 25px; font-family: arial;}
.menu a:visited {color:#ccc;}
.menu a:active {color:#ccc;}
.menu a:hover {color:#fff;}
.menu ul{padding: 0px; margin: 0px; list-style:none;}
.menu li{float:left; padding: 0px 65px 0px 0px; background: none; list-style:none;}
.menu li.right{background: none;}
.menu li.last{float:right; padding-right:10px;  background:none;}

.index {float:left; color:#fff; font-family: Arial; font-size:16px; font-weight: normal; text-indent: 20px; text-align:justify; background-color: rgba(149, 149, 149, 0.6); width: 100%; padding-left:10px;}
.index .first {margin:0px; text-align:center;}
.index .last {text-align:center;}
.index .pad {padding-right:10px;}

.about {float:left;  width: 100%; background-color: rgba(149, 149, 149, 0.6); padding: 10px 0px 10px 10px;}

.aboutleft {float:left; color:#fff; font-family: Arial; font-size:16px; font-weight: normal; text-indent: 20px; text-align:justify; width: 64%;}
.aboutleft .first  {margin:0px;}
.aboutright {float:right; margin:0px 10px 0px 0px;}

.contacts {float:left; color:#fff; font-family: Arial; font-size:16px; font-weight: normal; text-align:center; background-color: rgba(149, 149, 149, 0.6); padding: 10px 0px 10px 10px; width: 100%;}
.contacts a{color:#fff;}
.contacts a:hover {color:#ccc;}

.service {float:left; color:#fff; font-family: Arial; font-size:16px; font-weight: normal; text-align:justify; margin: 0px 10px 0px 0px; background-color: rgba(149, 149, 149, 0.6); padding: 10px 0px 10px 10px; width: 100%;}

.feedback {float:left; color:#fff; font-family: Arial; font-size:16px; font-weight: normal; text-indent: 20px; text-align:justify; background-color: rgba(149, 149, 149, 0.6); padding: 0px 0px 0px 10px; width: 100%;}
.feedback .pad {padding-right:10px;}

.price {float: left; width: 100%; background-color: rgba(149, 149, 149, 0.6); padding-right:10px; padding-bottom:10px;}
.price table {color:#fff; font-family: Arial; font-size: 16px; width:100%; border-spacing:0px}
.price table .left {text-align: left; width: 72%; padding: 10px 0px 0px 10px;}
.price table .center {text-align: left; vertical-align:bottom;}
.price table .right {text-align: center; vertical-align:bottom; width: 12%;}
.price_left {float: left; color:#fff; font-family: Arial; font-size: 16px; margin: 35px 0px 0px 0px; width: 40%;}
.price_center {float: left; color:#fff; font-family: Arial; font-size: 16px; text-align:center; margin: 0px; width: 30%;}
.price_right {float: left; color:#fff; font-family: Arial; font-size: 16px; text-align:center; margin: 0px; width: 30%;}

.portfolio {float:left;  width: 100%; background-color: rgba(149, 149, 149, 0.6); padding: 10px 0px 10px 10px;}